<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   <!--Bootstrap-->
   <link rel="stylesheet"   href="../libs/bootstrap.min.css">
    <!--Datatables bootstrap CSS-->
    <link rel="stylesheet"  href="../libs/datatables.bootstrap4.css">
    <!--Jquery-->
    <script src="../libs/jquery-3.3.1.min.js"></script>
    <!--Jquery DATATABLES-->
    <script src="../libs/jquery.dataTables.min.js"></script>
    <!--Datatables Bootstrap JS-->
    <script src="../libs/dataTables.bootstrap4.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand mr-auto" href="/">Home</a>
            <a class="navbar-brand ml-auto" href="/employee/new">Add New Employee</a>
            <a class="navbar-brand mr-0" href="/employee/search">Search</a>
        </nav>
    </div>